*{
    color: hotpink;
    font-family:sans-serif;
    font-size:xx-large;
    font-weight: 600;
    align-items:center;
    margin:0px;
    padding:0px;
}

html  {
background-color: rgb(53, 53, 53);
}

.navbar {
    display:flex;
    height: 100px;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    width: 100vw;
}

.instructions {
    align-content:space-around;
    color:ivory;
    flex-direction: row;
    font-size:small;
    font-weight:normal;
    margin: 5px 5px 5px 5px;
    line-height: 25px;
    width: 80vw;
}

.cards {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    margin:5px 5px 5px 5px;
    background-color:rgb(53, 53, 53);

}

.upperRow {
    display:flex;
    flex-wrap:wrap;
    height:250px;
    width:100vw;
    background-color: green;
    justify-content:space-evenly;
    }

.upperRow > div {
    height: 240px;
    width: 300px;
    background-color: grey;  
}

.lowerRow {
    display:flex;
    display:flex;
    flex-wrap:wrap;
    height:250px;
    width:100vw;
    background-color: green;
    justify-content:space-evenly;
}

.lowerRow > div {
    height: 240px;
    width: 250px;
    background-color: grey;  
}

.titleBox {
    height:15px;
    width:100px;

}